[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework-simplejwt = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
whitenoise = "*"
django-cors-headers = "*"
python-dotenv = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.8"
